In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/raw_data/raw_data.csv")

In [4]:
df = df.drop(columns=['id'])

In [5]:
df.head()

,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty,exam_score
0,21,female,b.sc,7.91,98.8,no,4.9,average,online videos,low,easy,78.3
1,18,other,diploma,4.95,94.8,yes,4.7,poor,self-study,medium,moderate,46.7
2,20,female,b.sc,4.68,92.6,yes,5.8,poor,coaching,high,moderate,99.0
3,19,male,b.sc,2.00,49.5,yes,8.3,average,group study,high,moderate,63.9
4,23,male,bca,7.65,86.9,yes,9.6,good,self-study,high,easy,100.0

In [6]:
targets = df.columns[:-1]

In [7]:
targets.to_list()

['age',
 'gender',
 'course',
 'study_hours',
 'class_attendance',
 'internet_access',
 'sleep_hours',
 'sleep_quality',
 'study_method',
 'facility_rating',
 'exam_difficulty']

In [8]:
df.value_counts()

age  gender  course   study_hours  class_attendance  internet_access  sleep_hours  sleep_quality  study_method   facility_rating  exam_difficulty  exam_score
17   female  b.com    0.08         40.6              yes              5.0          average        group study    medium           easy             22.900        1
                                                                      6.0          average        online videos  low              easy             21.600        1
                                                                      7.6          poor           group study    low              hard             19.599        1
                                   42.3              yes              6.8          poor           mixed          low              easy             19.599        1
                                   43.2              yes              7.9          average        group study    low              easy             23.700        1
                                                                                                                                                                ..
24   other   diploma  7.91         99.0              no               4.3          poor           coaching       high             moderate         83.800        1
                                   99.2              yes              9.6          good           self-study     medium           moderate         96.800        1
                                   99.4              yes              8.4          poor           mixed          high             moderate         100.000       1
                                                                      9.9          average        coaching       high             moderate         100.000       1
                                                                                                  online videos  high             moderate         100.000       1
Name: count, Length: 630000, dtype: int64

In [9]:
df.nunique()

age                   8
gender                3
course                7
study_hours         792
class_attendance    617
internet_access       2
sleep_hours          66
sleep_quality         3
study_method          5
facility_rating       3
exam_difficulty       3
exam_score          805
dtype: int64

In [10]:
df.apply(lambda col: col.unique())

age                                  [21, 18, 20, 19, 23, 24, 22, 17]
gender                                          [female, other, male]
course                   [b.sc, diploma, bca, b.com, ba, bba, b.tech]
study_hours         [7.91, 4.95, 4.68, 2.0, 7.65, 5.04, 4.28, 4.19...
class_attendance    [98.8, 94.8, 92.6, 49.5, 86.9, 85.1, 87.0, 44....
internet_access                                             [no, yes]
sleep_hours         [4.9, 4.7, 5.8, 8.3, 9.6, 9.4, 9.1, 8.8, 5.0, ...
sleep_quality                                   [average, poor, good]
study_method        [online videos, self-study, coaching, group st...
facility_rating                                   [low, medium, high]
exam_difficulty                                [easy, moderate, hard]
exam_score          [78.3, 46.7, 99.0, 63.9, 100.0, 70.1, 63.4, 76...
dtype: object

In [11]:
df.study_method.unique()

array(['online videos', 'self-study', 'coaching', 'group study', 'mixed'],
      dtype=object)

In [13]:
df.isna().sum()

age                 0
gender              0
course              0
study_hours         0
class_attendance    0
internet_access     0
sleep_hours         0
sleep_quality       0
study_method        0
facility_rating     0
exam_difficulty     0
exam_score          0
dtype: int64

In [15]:
import numpy as np

In [16]:
sdf = pd.DataFrame({'col1':[1,2,np.nan,4],"col2":[np.nan,2,3,4],"col3":[1,2,3,np.nan],"col4":[1,2,3,4]})
sdf

   col1  col2  col3  col4
0   1.0   NaN   1.0     1
1   2.0   2.0   2.0     2
2   NaN   3.0   3.0     3
3   4.0   4.0   NaN     4

In [20]:
n =  sdf.isna().sum()
n

col1    1
col2    1
col3    1
col4    0
dtype: int64

In [21]:
n[n > 0]

col1    1
col2    1
col3    1
dtype: int64

In [22]:
df.exam_score.nunique()

805

In [26]:
if sdf.col1.isna().any():
    raise ValueError('abadaba')

ValueError: abadaba

In [29]:
sdf.col1.isna().any()

np.True_